
.import-container
{
    width: 200px;
    height: 200px;
    display: block;
}

.import-container > .ant-upload
{
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.import-icon
{
    font-size: 28px;
}

.import-text
{
    padding-top: 12px;
}
