
.content-container > div
{
    float: left;
    margin: 0 24px 24px 0;
}

.import-container
{
    width: 210px;
    height: 240px;
    display: block;
}

.import-container > .ant-upload
{
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.import-icon
{
    font-size: 28px;
}

.import-text
{
    padding-top: 12px;
}
