extends ../layouts/default

block intro
	.container
		h1 通过 Excel 导入题目
		
block content
	.container
		if error
			h3 #{error}
		else if submitted
			h3 成功导入考卷 #{paper} , 包含 #{count} 道考题
		else
			.row: .col-sm-8.col-md-6
				form(method='post', enctype='multipart/form-data')
					input(type='hidden', name='action', value='import')
					.form-group
						label Excel 文件
						input(type='file', name='file').form-control
					.form-actions
						button(type='submit').btn.btn-primary 提交
