<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="<%- css %>/common.css?v=db29025c1f94057a9ae868a2699db3c4">
    <link rel="stylesheet" href="<%- css %>/404.css?v=b409294776aee1f37484b88cbc0721b0">
    <title>Oops!</title>
</head>
<body>
    <article>
        <img src="<%- assets %>/img/404.gif">
    </article>
</body>
</html>
