
.qtbl-header
{
    padding-bottom: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.qtbl-header > div:not(:first-child)
{
    margin-left: 24px;
}

.qtbl-search > *
{
    width: auto !important;
}

.qtbl-search
{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex: 1;
}

.qtbl-footer
{
    padding-top: 24px;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}

.qtbl-pagination
{
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex: 1;
}

.stble-paper
{
    justify-items: center;
    justify-content: flex-start;
    display: flex;
}

.stble-paper > div
{
    cursor: pointer;
}

.stble-paper > div:not(:first-child)
{
    margin-left: 12px;
}
