
.qradio
{
    display: flex;
}

.qradio > div:first-child
{
    flex: 1;
}

.qradio > div:first-child:empty:before
{
    content: "无";
}

.qradio > div:last-child
{
    margin-left: 24px;
    width: 280px;
}

.qradio-append
{
    padding: 24px;
    background: #F0F2F5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.qradio-append > *:not(:last-child)
{
    margin-bottom: 24px;
}

.qradio-uploader
{
    width: 232px;
    height: 232px;
}

.qradio-option
{
    padding: 8px 24px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    justify-content: center;
    align-items: center;
    display: flex;
}

.qradio-option:not(:last-child)
{
    margin-bottom: 24px;
}

.qradio-option[data-selected="1"]
{
    border-color: #1890ff;
}

.qradio-option > *:not(:last-child)
{
    margin-right: 24px;
}

.qradio-no
{
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.qradio-title
{
    flex: 1;
    word-break: break-all;
    overflow: hidden;
}

.qradio-image
{
    width: 50px;
    height: 50px;
}

.qradio-right
{
    width: 42px;
    color: #d9d9d9;
    font-size: 22px;
}

.qradio-right[data-right="1"]
{
    color: #52C41A;
}

.qradio-remove
{
    width: 42px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.qradio-option:not(:hover) .qradio-remove > *
{
    display: none;
}
