.qtbl-search
{
    padding-bottom: 24px;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
}

.qtbl-footer
{
    padding-top: 24px;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}

.qtbl-pagination
{
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex: 1;
}

.content-container
{
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.sch-selector > *,
.content-container > div
{
    flex: 1;
}

.content-container > div
{
    min-height: 500px;
}

.sch-selector > *:not(:first-child),
.content-container > div:not(:first-child)
{
    margin-left: 24px;
}

.sch-selector
{
    margin-bottom: 24px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sch-selector > * > *
{
    width: 100%;
}

.sch-pagination
{
    margin-top: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sch-submit
{
    justify-content: center;
    align-items: center;
    display: flex;
}
