.qtbl-search
{
    padding-bottom: 24px;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
}

.qtbl-footer
{
    padding-top: 24px;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}

.qtbl-pagination
{
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex: 1;
}

.content-container
{
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.sch-header
{
    padding: 0 4px;
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sch-manual-selector > *,
.content-container > div
{
    flex: 1;
}

.content-container > div
{
    min-height: 500px;
}

.sch-header > *:not(:first-child),
.sch-manual-selector > *:not(:first-child),
.content-container > div:not(:first-child)
{
    margin-left: 24px;
}

.sch-manual-selector
{
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}

.sch-manual-selector > * > *
{
    width: 100%;
}

.sch-pagination
{
    margin-top: 24px;
    padding: 0 4px 0 24px;
    justify-content: center;
    align-items: center;
    display: flex;
}
